---
Checks: >
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg,
  -bugprone-easily-swappable-parameters
InheritParentConfig: true
CheckOptions:
  - key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
    value: true
